<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Portal da Transparencia de _CLIENTE_</title>
    <meta name="twitter:description" content="Portal da Transparencia de _CLIENTE_">
    <meta name="twitter:image" content="assets/img/logo.png?h=b214ec660283147a2d003b4d08bcc58d">
    <meta property="og:image" content="assets/img/logo.png?h=b214ec660283147a2d003b4d08bcc58d">
    <meta name="description" content="Portal da Transparencia de _CLIENTE_">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Portal da Transparencia de _CLIENTE_">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/logo16.png?h=844798e0f3e21dd5da7c80f40b6725c9">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/logo32.png?h=6aedd29f39f38c6901bc94613b3ea239">
    <link rel="icon" type="image/png" sizes="180x180" href="assets/img/logo180.png?h=c3d575799107a08fab18836e6cdda8e1">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/logo192.png?h=142c7ac8b2fce669817f757892dc92cd">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/logo512.png?h=0805aaa6150cf9104aee6522e637ac3a">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=d5c48f710d826a4eab8bf01caf61d5eb">
    <link rel="manifest" href="manifest.json?h=18fadce76fa3e6fad755d96ab9c4a879">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css?h=1585abf9beaf49802b3a80bf813edceb">
    <link rel="stylesheet" href="assets/css/styles.min.css?h=b9b24b6dd3e39e2d6750012c9893cec5">
</head>

<body>
    <header class="container-fluid" role="banner">
        <div class="row">
            <div class="col col-8 logo">
                <h1><a href="#">Portal da Transparência</a></h1><span>Prefeitura Municipal de São Leopoldo</span></div>
            <div class="col col-4">
                <ul class="menu-borda" role="menubar">
                    <li role="menuitem"><a href="#">A+</a></li>
                    <li role="menuitem"><a href="#">A-</a></li>
                    <li role="menuitem"><a href="#">ACESSIBILIDADE</a></li>
                    <li role="menuitem"><a href="#">ALTO CONSTRATE</a></li>
                    <li role="menuitem"><a href="#">MAPA DO SITE</a></li>
                </ul>
            </div>
        </div>
        <div class="row" id="busca-rapida">
            <div class="col"><span>Text</span></div>
            <div class="col">
                <form>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text">Procurar</span></div><input class="form-control" type="text">
                        <div class="input-group-append"><button class="btn btn-primary" type="button"><i class="fa fa-search" style="font-size: 14px;"></i></button></div>
                    </div>
                </form>
            </div>
            <div class="col"><span>Text</span></div>
        </div>
    </header>
    <main class="container-fluid">
        <aside>
            <ul>
                <li><a href="#page-1">Page 1</a></li>
                <li><a href="#page-2">Page 2</a></li>
                <li><a href="#page-3">Page 3</a></li>
                <li><a href="#page-4">Page 4</a></li>
            </ul>
        </aside>
        <section><a href="#">Link</a></section>
    </main>
    <footer class="container-fluid">
        <div></div>
    </footer>
    <script src="assets/js/jquery.min.js?h=83e266cb1712b47c265f77a8f9e18451"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js?h=63715b63ee49d5fe4844c2ecae071373"></script>
</body>

</html>